{% extends 'base.html.twig' %}

{% block title %}Add new music{% endblock %}

{% block body %}
{{ form_start(MusicAdd) }}
    {{ form_row(MusicAdd.name) }}
    {{ form_row(MusicAdd.artist) }}
    {{ form_row(MusicAdd.file) }}
    <button type="submit" class="btn">Submit</button>
{{ form_end(MusicAdd) }}
{% endblock %}
